<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBookStoreWebService" />
                <binding name="BasicHttpBinding_IBookPurchaseWebService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51361/BookStoreWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookStoreWebService"
                contract="BookStoreServiceReference.IBookStoreWebService"
                name="BasicHttpBinding_IBookStoreWebService" />
            <endpoint address="http://localhost:51361/BookPurchaseWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookPurchaseWebService"
                contract="BookPurchaseServiceReference.IBookPurchaseWebService"
                name="BasicHttpBinding_IBookPurchaseWebService" />
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
</configuration>
