<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ZodiaFinderServiceSoap" />
                <binding name="ZodiacFinderByDateSoap" />
                <binding name="PostcodeFinderServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55031/ZodiaFinderService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ZodiaFinderServiceSoap"
                contract="FindZodiaService.ZodiaFinderServiceSoap" name="ZodiaFinderServiceSoap" />
            <endpoint address="http://localhost:55031/ZodiacFinderByDate.asmx"
                binding="basicHttpBinding" bindingConfiguration="ZodiacFinderByDateSoap"
                contract="FindByDate.ZodiacFinderByDateSoap" name="ZodiacFinderByDateSoap" />
            <endpoint address="http://localhost:55031/PostcodeFinderService.asmx"
                binding="basicHttpBinding" bindingConfiguration="PostcodeFinderServiceSoap"
                contract="FindPostcodeSvc.PostcodeFinderServiceSoap" name="PostcodeFinderServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
